{% extends "base.html" %}
    <header>
    {% include 'includes/header.html' %}
    </header>
    {% block content %}
    <main>
      <div class="container">
        
        <h1>{{group.title}}</h1>
        {% for post in posts %}
        <p>
          {{post.text}}
        </p>
        <article>
          <ul>
            <li>
              Автор: {{post.author}}
            </li>
            <li>
              Дата публикации: {{post.pub_date}}
            </li>
          </ul>           
        </article>
        {%if not forloop.last%}<hr>{% endif %}
        {% endfor %}
        <!-- под последним постом нет линии -->
      </div>  
    </main>
    {% endblock %}
    <footer>
    {% include 'includes/footer.html' %}
    </footer>