{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load thumbnail %}
{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock %}
  <body>       
    <header>
      {% include "header.html" %}      
    </header>
    <main>
    {% block content %}
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <h1 class="mb-3 text-center">Пост</h1>
          {% include "includes/post_card.html" with post=post %}
          <div class="mt-3 text-end">
            <a href="{% url 'posts:post_edit' post.id %}" class="btn btn-outline-primary">Редактировать</a>
          </div>
        </div>
      </div>
        {% endblock %}
    </main>
    <footer class="border-top text-center py-3">
        {% include "footer.html" %}
    </footer>
  </body>
</html>