{% extends 'base.html' %}
{% block title %}
    Профайл пользователя {{ username }}
{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1>Все посты пользователя {{ username }} </h1>
        <h3>Всего постов: {{ count }} </h3>
        {% for post in page_obj %}
            {% include 'includes/card_post.html' %}
            {% if post.group %}
                <a href="{% url 'posts:group_list' post.group.slug %}">
                    все записи группы
                </a>
                <a href="<!-- -->">
                    подробная информация
                </a>
            {% if not forloop.last %}<hr>{% endif %}
            {% endif %}
        {% endfor %}
        <hr>
        <!-- Остальные посты. после последнего нет черты -->
        <!-- Здесь подключён паджинатор -->
        {% include 'includes/paginator.html' %}
    </div>
{% endblock %}