{% extends "base.html" %}
{% load static %}
{% block title %}Редактировать пост{% endblock %}
  <body>	   
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            {% include 'includes/post_create_form.html' %}
          </div>
        </div>
      </div>
    </main>
    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>
